@use "@styles/theme.scss" as theme;
@use "@styles/components.scss" as components;
@use "@styles/utilities.scss" as utilities;

.screen {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: theme.$text-primary;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    color: theme.$text-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: utilities.$icon-button-size;
    width: utilities.$icon-button-size;
    border-radius: 100%;
    transition: background 0.2s;

    &:hover {
        background: theme.$background-hover;
        background: rgba(0, 0, 0, 0.05);
    }
}

.icon {
    font-size: utilities.$icon-font-size;
}

.formContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}
