$background: #f3f3f3;
$background-white: white;
$background-dark: #e7e7e7;

$background-hover: #f0f0f0;

$background-input: #edecf1;

$border: #ebebf1;

$text-light: #232323;
$text-primary: black;

$text-label: #8e8f94;
$text-placeholder: #999caa;

* {
    font-family: "Inter Variable", sans-serif;
}
